
.active {
    transform: scale(1.2) !important;
    border: .4rem solid lightslategray
}
			
span {
    height: 5rem;
    width: 5rem;
    border-radius: .5rem;
    display: inline-block;
    margin-left: 1.5rem;
    box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, .4);
    transition: all .5s;
    cursor: pointer;
    position: relative;
}

span:hover {
    transform: scale(1.2);
}

#result-content {
    border: .4rem solid;
    display: inline-block;
    padding: 1rem;
    border-radius: 2rem;
}
#result-content p {
    margin: 0;
}